{{- if eq .chezmoi.group "ecr" }}
export DV='/asrc/ecr/danielv'
export BALAZS='/asrc/ecr/danielv' 
export FABIO='/asrc/ecr/fabio'
export GHAAS='/asrc/ecr/balazs/GHAAS'
export RGISARCHIVE2="$GHAAS/RGISarchive2"
export RGISARCHIVE3="$GHAAS/RGISarchive3"
export RGISRESULTS="$GHAAS/ModelRuns/RGISresults"
export GPKGRESULTS="$GHAAS/ModelRuns/GPKGresults"
export GPKGARCHIVE="$GHAAS/GPKGarchive"
export GEOSERVER="$DV/geoserver"
export GEOSERVERVOL="$DV/geoserver_volumes"
export SCRATCH="/scratch/danielv"
{{ - end }}
