{{- if eq .chezmoi.group "ecr" }}
export DV='/asrc/ecr/danielv'
export BALAZS='/asrc/ecr/balazs' 
export FABIO='/asrc/ecr/fabio'
export GHAAS='/asrc/ecr/balazs/GHAAS'
export RGISARCHIVE2="$GHAAS/RGISarchive2"
export RGISARCHIVE3="$GHAAS/RGISarchive3"
export RGISRESULTS="$GHAAS/ModelRuns/RGISresults"
export GPKGRESULTS="$GHAAS/ModelRuns/GPKGresults"
export GPKGARCHIVE="$GHAAS/GPKGarchive"
export GEOSERVER="$DV/geoserver"
export GEOSERVERVOL="$DV/geoserver_volumes"
export SCRATCH="/scratch/danielv"

# RGIS installation 
if [[ -d "/usr/local/share/ghaas" ]]; then
    export GHAASDIR="/usr/local/share/ghaas"
    export PATH="$PATH:/usr/local/share/ghaas/bin:/usr/local/share/ghaas/f"
fi 
{{- end }}

# PATH
if [[ -d ~/.cargo/bin ]]; then
    export PATH=$PATH:~/.cargo/bin
fi

if [[ -d ~/bin ]]; then
    export PATH=$PATH:~/bin
fi

if [[ -d ~/.local/bin ]]; then
    export PATH=$PATH:~/.local/bin
fi

if [[ -d /usr/local/go/bin ]]; then
    export PATH=$PATH:/usr/local/go/bin
fi

if [[ -d /opt/mssql-tools18/bin ]]; then
    export PATH=$PATH:/opt/mssql-tools18/bin
fi

if [[ -d "/snap/bin" ]] ; then
    export PATH="$PATH:/snap/bin"
fi

# Ruby 
if command -v ruby &> /dev/null
then
    export GEM_HOME="$HOME/gems" 
    export PATH="$HOME/gems/bin:$PATH" 
fi

# PI Cluster
{{- if eq .chezmoi.group "pi"}}
    export KUBECONFIG=~/.kube/config
{{- end }}

if [[ -d ~/mambaforge ]]; then

    # >>> conda initialize >>>
    # !! Contents within this block are managed by 'conda init' !!
    __conda_setup="$('${HOME}/mambaforge/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
    if [ $? -eq 0 ]; then
        eval "$__conda_setup"
    else
        if [ -f "${HOME}/mambaforge/etc/profile.d/conda.sh" ]; then
            . "${HOME}/mambaforge/etc/profile.d/conda.sh"
        else
            export PATH="${HOME}/mambaforge/bin:$PATH"
        fi
    fi
    unset __conda_setup
    # >>> conda initialize >>>

  if [ -f "${HOME}/mambaforge/etc/profile.d/mamba.sh" ]; then
     . "${HOME}/mambaforge/etc/profile.d/mamba.sh"
  fi

fi
 
{{- if .work }}
{{- if .include_secrets }}
DOCKER_REGISTRY={{ (index (lastpassRaw "DSNY_docker_registry") 0).note | quote }}
# chezmoi lastpass managed "DSNY_bitbucket_app_password"
BITBUCKET_PASSWORD={{ (index (lastpass "DSNY_bitbucket_app_password") 0).password | quote }}
GITHUB_PASSWORD={{ (index (lastpass "DSNY_github_pat") 0).password | quote }}
{{- end }}
{{- end }}
