#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

PS1='[\u@\h \W]\$ '

# aliases
if [ -f ~/.aliases ]; then
	. ~/.aliases
fi

# wal colorscheme
if [[ -d ~/.cache/wal ]]
then
    (cat ~/.cache/wal/sequences &)
    source ~/.cache/wal/colors.sh
fi
# Environment Vars
export XDG_USER_CONFIG_DIR=~/.config
export PATH=$PATH:~/bin:~/.local/bin

# Source 
[ -f ~/.fzf.bash ] && source ~/.fzf.bash

# Pi Cluster Helpers
{{- if eq .chezmoi.group "pi"}}
export JAVA_HOME=$(readlink --canonicalize /usr/bin/java | sed "s:bin/java::")
export HADOOP_HOME=/opt/hadoop
export PATH=$PATH:$HADOOP_HOME/bin:$HADOOP_HOME/sbin
export SPARK_HOME=/opt/spark
export PATH=$PATH:$SPARK_HOME/bin
{{- end }}
