{{- if eq .chezmoi.group "ecr" }}
export DV='/asrc/ecr/danielv'
export BALAZS='/asrc/ecr/balazs' 
export FABIO='/asrc/ecr/fabio'
export GHAAS='/asrc/ecr/balazs/GHAAS'
export RGISARCHIVE2="$GHAAS/RGISarchive2"
export RGISARCHIVE3="$GHAAS/RGISarchive3"
export RGISRESULTS="$GHAAS/ModelRuns/RGISresults"
export GPKGRESULTS="$GHAAS/ModelRuns/GPKGresults"
export GPKGARCHIVE="$GHAAS/GPKGarchive"
export GEOSERVER="$DV/geoserver"
export GEOSERVERVOL="$DV/geoserver_volumes"
export SCRATCH="/scratch/danielv"
{{- end }}

# PATH
if [[ -d ~/.cargo/bin ]]; then
    export PATH=$PATH:~/.cargo/bin
fi

if [[ -d ~/bin ]]; then
    export PATH=$PATH:~/bin
fi

if [[ -d ~/.local/bin ]]; then
    export PATH=$PATH:~/.local/bin
fi

if [[ -d /usr/local/go/bin ]]; then
    export PATH=$PATH:/usr/local/go/bin
fi

# Ruby 
if command -v ruby &> /dev/null
then
    export GEM_HOME="$HOME/gems" 
    export PATH="$HOME/gems/bin:$PATH" 
fi

# RGIS installation 
if [[ -d "/usr/local/share/ghaas" ]]; then
    export GHAASDIR="/usr/local/share/ghaas"
    export PATH="$PATH:/usr/local/share/ghaas/bin:/usr/local/share/ghaas/f"
fi 
