#!/bin/sh
{{- if eq .chezmoi.hostname "dan-PC" }}
xrandr --output DVI-D-1 --primary --mode 1920x1080 --pos 1440x659 --rotate normal  --rate 144 --output DP-1 --mode 2560x1440 --pos 0x0 --rotate left --output DP-2 --off --output HDMI-3 --mode 2560x1440 --pos 3360x299 --rotate normal --rate 69 --output DP-3 --off --output VGA-1-1 --off --output HDMI-1-1 --off --output HDMI-1-2 --off
{{- end }}

